* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

header,
article,
footer,
main {
  width: 100%;
  max-width: 1280px;
}
header:not(main),
article:not(main),
footer:not(main),
main:not(main) {
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
i,
button,
nav,
.logo {
  font-family: "Inter";
  font-style: normal;
  font-size: 20px;
  color: #111111;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  padding: 12px;
}

i {
  font-size: 18px;
  color: #999999;
}

p,
a {
  color: #555555;
  font-weight: 400;
}

h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 120%;
}

h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
}

h3 {
  font-weight: 500;
  line-height: 100%;
  color: #111111;
}

h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 700;
  color: #555555;
}

h5 {
  font-weight: 400;
  line-height: 100%;
  color: #555555;
}

h6 {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #777777;
  text-transform: uppercase;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100px;
}

.nav-list {
  display: none;
}
.nav-list a:last-child {
  color: #ff3998;
  white-space: nowrap;
}
.nav-list a:last-child:hover {
  color: #ff8139;
}

.nav-hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 24px;
}
.nav-hamburger div {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 4px;
  background-color: #999999;
}
.nav-hamburger:hover {
  cursor: pointer;
}
.nav-hamburger:hover div {
  background-color: #ff8139;
}

#show,
#content {
  display: none;
}

#show:checked ~ #content {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 80px;
  left: 20px;
}
#show:checked ~ #content a {
  padding-top: 0px;
  padding-bottom: 0px;
}

#robot-bgr-img {
  object-fit: cover;
  object-position: 200px 0px;
  margin-top: -80px;
  margin-left: -305px;
  float: right;
  width: 100vw;
  max-width: 800px;
  height: 100vw;
  max-height: 800px;
}

#green-bgr-img {
  object-fit: cover;
  object-position: calc(40px - 3.3333333333vw) 0px;
  margin-top: 98px;
  margin-left: -5%;
  float: right;
  width: 210px;
  height: 467px;
}

#plus-borders {
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.art-singup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px 0px 0px;
}
.art-singup .side-left {
  width: 100%;
  min-height: 550px;
}
.art-singup .side-left h4,
.art-singup .side-left h1,
.art-singup .side-left p {
  padding: 12px 32px;
}
.art-singup .side-left h4 {
  color: #ff3998;
}
.art-singup .side-left .btn-box {
  width: 0;
  padding-left: 20px;
}

.btn-signup {
  margin: 20px 12px;
  padding: 0px;
  width: 188px;
  height: 75px;
  border: double 4px transparent;
  border-radius: 100px;
  background: linear-gradient(white, white), url(assets/background18875.svg);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.btn-signup:hover {
  cursor: pointer;
  color: #ff8139;
}

.art-invite {
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(assets/background.svg);
  background-position: center;
}

.art-companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 205px;
  width: 90%;
}
.art-companies div {
  margin: 12px;
  height: 50px;
  background-repeat: no-repeat;
}
.art-companies #Boomerang {
  width: 214px;
  background: url(assets/companies/1.svg) no-repeat;
}
.art-companies #Blimp {
  width: 160px;
  background: url(assets/companies/2.svg) no-repeat;
}
.art-companies #qrco {
  width: 138px;
  background: url(assets/companies/3.svg) no-repeat;
}
.art-companies #Droplet {
  width: 160px;
  background: url(assets/companies/5.svg) no-repeat;
}
.art-companies #OpenDoor {
  width: 195px;
  background: url(assets/companies/4.svg) no-repeat;
}

.art-auction {
  padding: 20px 0px;
}
.art-auction .auction-text {
  padding: 0px 20px;
}
.art-auction .auction-text #last-word {
  text-decoration: underline;
}
.art-auction #slide-box {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 480px;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 40px 0px;
  max-width: 1280px;
}
.art-auction #slide-box .slide-card {
  width: 290px;
  height: 400px;
  margin: 20px;
}
.art-auction #slide-box .slide-card:first-child {
  margin-left: 0px;
}
.art-auction #slide-box .slide-card:last-child {
  margin-right: 0px;
}
.art-auction #slide-box .slide-card .card-img {
  width: 290px;
  height: 278px;
}
.art-auction #slide-box .slide-card .card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 122px;
  background-color: #eeeeee;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 0px;
}
.art-auction #slide-box .slide-card .card-info .card-info-col-left,
.art-auction #slide-box .slide-card .card-info .card-info-col-right {
  padding: 12px;
}
.art-auction #slide-box .slide-card .card-info .card-info-col-left *,
.art-auction #slide-box .slide-card .card-info .card-info-col-right * {
  padding: 0px;
  margin: 12px;
}
.art-auction #slide-box .slide-card .card-info .card-info-col-left h3:last-child,
.art-auction #slide-box .slide-card .card-info .card-info-col-right h3:last-child {
  color: #777777;
  font-size: 18px;
}
.art-auction #slide-box .slide-card .card-info .card-info-col-left {
  text-align: left;
}
.art-auction #slide-box .slide-card .card-info .card-info-col-left h6 {
  color: #ff8139;
}
.art-auction #slide-box .slide-card .card-info .card-info-col-right {
  text-align: right;
}
.art-auction #slide-box .slide-card .card-info #price::before {
  content: url(assets/eth.svg);
}
.art-auction #slide-box .slide-card .card-info #number::before {
  content: "#";
}

footer main {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
footer main .side-left,
footer main .nav-footer-box {
  flex: 1;
  margin: 20px;
  margin-left: 0px;
}
footer nav {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
footer nav .nav-footer-2boxes {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
}
footer nav .nav-footer-2boxes a {
  padding: 0px;
}
footer nav .nav-footer-2boxes h4 {
  padding: 12px 0px;
}
footer nav .nav-footer-2boxes .nav-footer-box {
  width: 100px;
  display: flex;
  flex-direction: column;
}
footer .icons i {
  padding-right: 8px;
}
footer .copyright {
  height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 400px) {
  .art-companies {
    width: 100%;
    justify-content: space-between;
  }
  .art-companies #Boomerang {
    width: 138px;
  }
  .art-companies #OpenDoor {
    display: none;
  }
}
@media only screen and (min-width: 548px) {
  .art-companies #OpenDoor {
    display: flex;
  }
}
@media only screen and (min-width: 730px) {
  .art-companies #Boomerang {
    width: 214px;
  }
  .nav-hamburger {
    display: none;
  }
  .nav-list {
    display: flex;
  }
  #show:checked ~ #content {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .copyright p:last-child {
    display: none;
  }
}
@media screen and (min-width: 1160px) {
  #green-bgr-img {
    object-position: 0px;
    margin-right: calc(100vw - 1160px);
  }
}
@media screen and (min-width: 1280px) {
  #green-bgr-img {
    margin-right: 120px;
  }
}